.title{
  display: flex;
  justify-content: center;
  align-items: center;

}
.button{
  margin-top: 20%;
  width: 30%;
  height: 150px;
  border-radius: 30px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: xxx-large;
  transition: 0.5s;
}
.button:hover{
  animation: step-end;
  background-color: forestgreen;
  cursor: pointer;
  transition: 0.5s;
}

@media screen and (max-width: 992px) {
   .button {
     font-size: x-large;
  }
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .button {
    font-size: large;
  }
}
