.h {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: forestgreen;*/
  border-radius: 30%;
  font-size: xxx-large;
  border: solid black 1px;
  width: 100px;
  height: 100px;
  margin: 5px;
  transition: 1s;
}
.h:hover {
  cursor: pointer;
  background-color: darkgrey;
  transition: 0.5s;
}
.h:active{
  background-color: red;
  transition: 1s;
}


